.Toggle {
    display: none;
}



@media screen and (max-width:768px) {
    .Toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        position: relative;

    }


    li a {
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        color: #dae7e4;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        cursor: pointer;
        text-align: center;

    }

    li a:hover{
        color: rgb(73, 82, 82);
    }

    li:first-child {
        margin-top: 7rem;
    }

    li:last-child {
        margin-top: 50%;
        padding: 0 30px 0 30px;
    }

    .block {
        flex-direction: column;
        padding: 1rem;
        margin-top: 3.8rem;
        margin-left: 0;
        overflow-y: scroll;
        list-style: none;
        position: fixed;
        top: 0;
        background: linear-gradient(90deg, rgb(0, 101, 219)50%, rgba(0, 212, 215, 1)100%);
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        z-index: 9;
        transition: ease-in .2s;
        /* animation-name:rotate_sidebar; 
        animation-duration: 2s */
        animation-name: reverse1;
        animation-duration: 1s
    }

    
    .line {

        list-style: none;
        margin-top: 1rem;

    }

    @keyframes reverse1 {
        from {
            transform: rotateY(-65deg);
            margin-left: 200px;
        }

        to {
            margin-left: 0%;
        }
    }

    .lines {
        margin-top: 2rem;
        margin-bottom: .5rem;

    }

    #colorr {
        background-color: rgb(161, 161, 192);
        padding: 4px;
        border-radius: 5px;

    }

    #colorr:hover {
        background-color: rgb(166, 175, 175);

    }


    img {
        width: 50px;

    }


    .mylogo {
        display: hidden
    }
}